@charset "utf-8";
/* CSS Document */

body{
	background-color: #FFD263;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #0D47BE;
	padding: 10px;
}

header{
	width: 900px;
	height: 200px;
	background-color: #FFD263;
	text-align: center;
	padding-top: 10px;
	margin: auto;
	
}
section{
	width: 900px;
	background-image: url("images/2colback.jpg");
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
	padding-right: 20px;
			
}

nav{
	float: left;
	width: 250px;	
}

article{
	float: left;
	width: 650px;
	text-align: center;	
}

footer{
	text-align: center;
	width: 920px;
	height: 70px;
	background-color: #FF2C00;
	margin: auto;
	padding-top: 5px;
	
}

.logoleft{
	float: left;
	padding-top: 0px;
	padding-left: 15px;
	
}

nav a{
	border: 6px inset #FF2C00;
	background-color: #FFD263;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color: #034761;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Vivaldi;
	
}

nav a:hover{
	color: #FF2C00;
	border: 2px outset #FF2C00;
		
}

h1{
	color: #0D47BE;
	text-align: center;
	font-size: xx-large;	
	
}

p{
	color: #0D47BE;		
}

#thumbs, #image {
		width: 500px;
		text-align: center;
		margin: 0 auto 0 auto;
		color: #000;
	}

#thumbs {
	margin-top: 10px;
}

			
#thumbs img {
	border: solid 1px #000;
	margin: 5px;
}

#image{
	height:500px;
}

.instructions{
	font-style:italic;
}



